---
http_interactions:
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=giphy&limit=1&q=Mostly%20Cloudy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Response-Time:
      - 56ms
      X-Cachiness-Shield-Rule:
      - giphy_api_search_long_ttl
      X-Cachiness-Shield-Desired-Ttl:
      - 21600s
      X-Cachiness-Shield-Actual-Ttl:
      - '21600.000'
      X-Rule-Debug:
      - '1'
      X-Cachiness-Edge-Rule:
      - giphy_api_search_long_ttl
      X-Cachiness-Edge-Desired-Ttl:
      - 21600s
      X-Cachiness-Edge-Actual-Ttl:
      - '21600.000'
      X-Cachiness-Edge-Age:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"gif","id":"YdUdx8jPIKhxe","url":"https://giphy.com/gifs/storm-cloud-cool-landscape-YdUdx8jPIKhxe","slug":"storm-cloud-cool-landscape-YdUdx8jPIKhxe","bitly_gif_url":"http://gph.is/1mdCLe3","bitly_url":"http://gph.is/1mdCLe3","embed_url":"https://giphy.com/embed/YdUdx8jPIKhxe","username":"","source":"http://tumblr.com","title":"mostly
        cloudy storm GIF","rating":"g","content_url":"","source_tld":"tumblr.com","source_post_url":"http://tumblr.com","is_sticker":0,"import_datetime":"2014-01-18
        15:21:30","trending_datetime":"1970-01-01 00:00:00","images":{"original":{"height":"317","width":"480","size":"638086","url":"https://media0.giphy.com/media/YdUdx8jPIKhxe/giphy.gif?cid=aae34603kwaa6ecriqt695ti315kmz98v00op6vtak784wn7&ep=v1_gifs_search&rid=giphy.gif&ct=g","mp4_size":"224100","mp4":"https://media0.giphy.com/media/YdUdx8jPIKhxe/giphy.mp4?cid=aae34603kwaa6ecriqt695ti315kmz98v00op6vtak784wn7&ep=v1_gifs_search&rid=giphy.mp4&ct=g","webp_size":"154230","webp":"https://media0.giphy.com/media/YdUdx8jPIKhxe/giphy.webp?cid=aae34603kwaa6ecriqt695ti315kmz98v00op6vtak784wn7&ep=v1_gifs_search&rid=giphy.webp&ct=g","frames":"35","hash":"51d99be6cbf0bc815f12e83a33a690a8"},"downsized":{"height":"317","width":"480","size":"638086","url":"https://media0.giphy.com/media/YdUdx8jPIKhxe/giphy.gif?cid=aae34603kwaa6ecriqt695ti315kmz98v00op6vtak784wn7&ep=v1_gifs_search&rid=giphy.gif&ct=g"},"downsized_large":{"height":"317","width":"480","size":"638086","url":"https://media0.giphy.com/media/YdUdx8jPIKhxe/giphy.gif?cid=aae34603kwaa6ecriqt695ti315kmz98v00op6vtak784wn7&ep=v1_gifs_search&rid=giphy.gif&ct=g"},"downsized_medium":{"height":"317","width":"480","size":"638086","url":"https://media0.giphy.com/media/YdUdx8jPIKhxe/giphy.gif?cid=aae34603kwaa6ecriqt695ti315kmz98v00op6vtak784wn7&ep=v1_gifs_search&rid=giphy.gif&ct=g"},"downsized_small":{"height":"284","width":"431","mp4_size":"91799","mp4":"https://media0.giphy.com/media/YdUdx8jPIKhxe/giphy-downsized-small.mp4?cid=aae34603kwaa6ecriqt695ti315kmz98v00op6vtak784wn7&ep=v1_gifs_search&rid=giphy-downsized-small.mp4&ct=g"},"downsized_still":{"height":"317","width":"480","size":"638086","url":"https://media0.giphy.com/media/YdUdx8jPIKhxe/giphy_s.gif?cid=aae34603kwaa6ecriqt695ti315kmz98v00op6vtak784wn7&ep=v1_gifs_search&rid=giphy_s.gif&ct=g"},"fixed_height":{"height":"200","width":"303","size":"224387","url":"https://media0.giphy.com/media/YdUdx8jPIKhxe/200.gif?cid=aae34603kwaa6ecriqt695ti315kmz98v00op6vtak784wn7&ep=v1_gifs_search&rid=200.gif&ct=g","mp4_size":"90115","mp4":"https://media0.giphy.com/media/YdUdx8jPIKhxe/200.mp4?cid=aae34603kwaa6ecriqt695ti315kmz98v00op6vtak784wn7&ep=v1_gifs_search&rid=200.mp4&ct=g","webp_size":"75616","webp":"https://media0.giphy.com/media/YdUdx8jPIKhxe/200.webp?cid=aae34603kwaa6ecriqt695ti315kmz98v00op6vtak784wn7&ep=v1_gifs_search&rid=200.webp&ct=g"},"fixed_height_downsampled":{"height":"200","width":"303","size":"47336","url":"https://media0.giphy.com/media/YdUdx8jPIKhxe/200_d.gif?cid=aae34603kwaa6ecriqt695ti315kmz98v00op6vtak784wn7&ep=v1_gifs_search&rid=200_d.gif&ct=g","webp_size":"31314","webp":"https://media0.giphy.com/media/YdUdx8jPIKhxe/200_d.webp?cid=aae34603kwaa6ecriqt695ti315kmz98v00op6vtak784wn7&ep=v1_gifs_search&rid=200_d.webp&ct=g"},"fixed_height_small":{"height":"100","width":"152","size":"81641","url":"https://media0.giphy.com/media/YdUdx8jPIKhxe/100.gif?cid=aae34603kwaa6ecriqt695ti315kmz98v00op6vtak784wn7&ep=v1_gifs_search&rid=100.gif&ct=g","mp4_size":"29227","mp4":"https://media0.giphy.com/media/YdUdx8jPIKhxe/100.mp4?cid=aae34603kwaa6ecriqt695ti315kmz98v00op6vtak784wn7&ep=v1_gifs_search&rid=100.mp4&ct=g","webp_size":"28420","webp":"https://media0.giphy.com/media/YdUdx8jPIKhxe/100.webp?cid=aae34603kwaa6ecriqt695ti315kmz98v00op6vtak784wn7&ep=v1_gifs_search&rid=100.webp&ct=g"},"fixed_height_small_still":{"height":"100","width":"152","size":"4579","url":"https://media0.giphy.com/media/YdUdx8jPIKhxe/100_s.gif?cid=aae34603kwaa6ecriqt695ti315kmz98v00op6vtak784wn7&ep=v1_gifs_search&rid=100_s.gif&ct=g"},"fixed_height_still":{"height":"200","width":"303","size":"10878","url":"https://media0.giphy.com/media/YdUdx8jPIKhxe/200_s.gif?cid=aae34603kwaa6ecriqt695ti315kmz98v00op6vtak784wn7&ep=v1_gifs_search&rid=200_s.gif&ct=g"},"fixed_width":{"height":"132","width":"200","size":"119207","url":"https://media0.giphy.com/media/YdUdx8jPIKhxe/200w.gif?cid=aae34603kwaa6ecriqt695ti315kmz98v00op6vtak784wn7&ep=v1_gifs_search&rid=200w.gif&ct=g","mp4_size":"46553","mp4":"https://media0.giphy.com/media/YdUdx8jPIKhxe/200w.mp4?cid=aae34603kwaa6ecriqt695ti315kmz98v00op6vtak784wn7&ep=v1_gifs_search&rid=200w.mp4&ct=g","webp_size":"40060","webp":"https://media0.giphy.com/media/YdUdx8jPIKhxe/200w.webp?cid=aae34603kwaa6ecriqt695ti315kmz98v00op6vtak784wn7&ep=v1_gifs_search&rid=200w.webp&ct=g"},"fixed_width_downsampled":{"height":"132","width":"200","size":"24440","url":"https://media0.giphy.com/media/YdUdx8jPIKhxe/200w_d.gif?cid=aae34603kwaa6ecriqt695ti315kmz98v00op6vtak784wn7&ep=v1_gifs_search&rid=200w_d.gif&ct=g","webp_size":"16238","webp":"https://media0.giphy.com/media/YdUdx8jPIKhxe/200w_d.webp?cid=aae34603kwaa6ecriqt695ti315kmz98v00op6vtak784wn7&ep=v1_gifs_search&rid=200w_d.webp&ct=g"},"fixed_width_small":{"height":"66","width":"100","size":"46449","url":"https://media0.giphy.com/media/YdUdx8jPIKhxe/100w.gif?cid=aae34603kwaa6ecriqt695ti315kmz98v00op6vtak784wn7&ep=v1_gifs_search&rid=100w.gif&ct=g","mp4_size":"16223","mp4":"https://media0.giphy.com/media/YdUdx8jPIKhxe/100w.mp4?cid=aae34603kwaa6ecriqt695ti315kmz98v00op6vtak784wn7&ep=v1_gifs_search&rid=100w.mp4&ct=g","webp_size":"15794","webp":"https://media0.giphy.com/media/YdUdx8jPIKhxe/100w.webp?cid=aae34603kwaa6ecriqt695ti315kmz98v00op6vtak784wn7&ep=v1_gifs_search&rid=100w.webp&ct=g"},"fixed_width_small_still":{"height":"66","width":"100","size":"2868","url":"https://media0.giphy.com/media/YdUdx8jPIKhxe/100w_s.gif?cid=aae34603kwaa6ecriqt695ti315kmz98v00op6vtak784wn7&ep=v1_gifs_search&rid=100w_s.gif&ct=g"},"fixed_width_still":{"height":"132","width":"200","size":"6919","url":"https://media0.giphy.com/media/YdUdx8jPIKhxe/200w_s.gif?cid=aae34603kwaa6ecriqt695ti315kmz98v00op6vtak784wn7&ep=v1_gifs_search&rid=200w_s.gif&ct=g"},"looping":{"mp4_size":"1600946","mp4":"https://media0.giphy.com/media/YdUdx8jPIKhxe/giphy-loop.mp4?cid=aae34603kwaa6ecriqt695ti315kmz98v00op6vtak784wn7&ep=v1_gifs_search&rid=giphy-loop.mp4&ct=g"},"original_still":{"height":"317","width":"480","size":"76181","url":"https://media0.giphy.com/media/YdUdx8jPIKhxe/giphy_s.gif?cid=aae34603kwaa6ecriqt695ti315kmz98v00op6vtak784wn7&ep=v1_gifs_search&rid=giphy_s.gif&ct=g"},"original_mp4":{"height":"316","width":"480","mp4_size":"224100","mp4":"https://media0.giphy.com/media/YdUdx8jPIKhxe/giphy.mp4?cid=aae34603kwaa6ecriqt695ti315kmz98v00op6vtak784wn7&ep=v1_gifs_search&rid=giphy.mp4&ct=g"},"preview":{"height":"150","width":"227","mp4_size":"33423","mp4":"https://media0.giphy.com/media/YdUdx8jPIKhxe/giphy-preview.mp4?cid=aae34603kwaa6ecriqt695ti315kmz98v00op6vtak784wn7&ep=v1_gifs_search&rid=giphy-preview.mp4&ct=g"},"preview_gif":{"height":"71","width":"108","size":"49649","url":"https://media0.giphy.com/media/YdUdx8jPIKhxe/giphy-preview.gif?cid=aae34603kwaa6ecriqt695ti315kmz98v00op6vtak784wn7&ep=v1_gifs_search&rid=giphy-preview.gif&ct=g"},"preview_webp":{"height":"194","width":"294","size":"40684","url":"https://media0.giphy.com/media/YdUdx8jPIKhxe/giphy-preview.webp?cid=aae34603kwaa6ecriqt695ti315kmz98v00op6vtak784wn7&ep=v1_gifs_search&rid=giphy-preview.webp&ct=g"},"hd":{"height":"654","width":"990","mp4_size":"1034977","mp4":"https://media0.giphy.com/media/YdUdx8jPIKhxe/giphy-hd.mp4?cid=aae34603kwaa6ecriqt695ti315kmz98v00op6vtak784wn7&ep=v1_gifs_search&rid=giphy-hd.mp4&ct=g"},"480w_still":{"height":"317","width":"480","size":"638086","url":"https://media0.giphy.com/media/YdUdx8jPIKhxe/480w_s.jpg?cid=aae34603kwaa6ecriqt695ti315kmz98v00op6vtak784wn7&ep=v1_gifs_search&rid=480w_s.jpg&ct=g"}},"analytics_response_payload":"e=Z2lmX2lkPVlkVWR4OGpQSUtoeGUmZXZlbnRfdHlwZT1HSUZfU0VBUkNIJmNpZD1hYWUzNDYwM2t3YWE2ZWNyaXF0Njk1dGkzMTVrbXo5OHYwMG9wNnZ0YWs3ODR3bjcmY3Q9Zw","analytics":{"onload":{"url":"https://giphy-analytics.giphy.com/v2/pingback_simple?analytics_response_payload=e%3DZ2lmX2lkPVlkVWR4OGpQSUtoeGUmZXZlbnRfdHlwZT1HSUZfU0VBUkNIJmNpZD1hYWUzNDYwM2t3YWE2ZWNyaXF0Njk1dGkzMTVrbXo5OHYwMG9wNnZ0YWs3ODR3bjcmY3Q9Zw&action_type=SEEN"},"onclick":{"url":"https://giphy-analytics.giphy.com/v2/pingback_simple?analytics_response_payload=e%3DZ2lmX2lkPVlkVWR4OGpQSUtoeGUmZXZlbnRfdHlwZT1HSUZfU0VBUkNIJmNpZD1hYWUzNDYwM2t3YWE2ZWNyaXF0Njk1dGkzMTVrbXo5OHYwMG9wNnZ0YWs3ODR3bjcmY3Q9Zw&action_type=CLICK"},"onsent":{"url":"https://giphy-analytics.giphy.com/v2/pingback_simple?analytics_response_payload=e%3DZ2lmX2lkPVlkVWR4OGpQSUtoeGUmZXZlbnRfdHlwZT1HSUZfU0VBUkNIJmNpZD1hYWUzNDYwM2t3YWE2ZWNyaXF0Njk1dGkzMTVrbXo5OHYwMG9wNnZ0YWs3ODR3bjcmY3Q9Zw&action_type=SENT"}}}],"meta":{"status":200,"msg":"OK","response_id":"kwaa6ecriqt695ti315kmz98v00op6vtak784wn7"},"pagination":{"total_count":813,"count":1,"offset":0}}'
  recorded_at: Thu, 29 Feb 2024 17:06:30 GMT
[...]
