---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=weather&lat=30.0&lon=90.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":30,"lon":90,"timezone":"Asia/Shanghai","timezone_offset":28800,"current":{"dt":1709224505,"sunrise":1709252766,"sunset":1709294335,"temp":259.7,"feels_like":254.64,"pressure":1022,"humidity":18,"dew_point":242.17,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":2.22,"wind_deg":4,"wind_gust":2.03,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1709222400,"temp":259.85,"feels_like":252.85,"pressure":1022,"humidity":17,"dew_point":241.75,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":4.2,"wind_deg":341,"wind_gust":7.1,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1709226000,"temp":259.7,"feels_like":254.64,"pressure":1022,"humidity":18,"dew_point":242.17,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":2.22,"wind_deg":4,"wind_gust":2.03,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1709229600,"temp":259.59,"feels_like":259.59,"pressure":1022,"humidity":19,"dew_point":242.59,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":1.32,"wind_deg":5,"wind_gust":1.23,"weather":[{"id":800,"main":"Cle[...]
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=weather&lat=30.0&lon=90.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":30,"lon":90,"timezone":"Asia/Shanghai","timezone_offset":28800,"current":{"dt":1709225716,"sunrise":1709252766,"sunset":1709294335,"temp":259.7,"feels_like":254.64,"pressure":1022,"humidity":18,"dew_point":242.17,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":2.22,"wind_deg":4,"wind_gust":2.03,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"minutely":[{"dt":1709225760,"precipitation":0},{"dt":1709225820,"precipitation":0},{"dt":1709225880,"precipitation":0},{"dt":1709225940,"precipitation":0},{"dt":1709226000,"precipitation":0},{"dt":1709226060,"precipitation":0},{"dt":1709226120,"precipitation":0},{"dt":1709226180,"precipitation":0},{"dt":1709226240,"precipitation":0},{"dt":1709226300,"precipitation":0},{"dt":1709226360,"precipitation":0},{"dt":1709226420,"precipitation":0},{"dt":1709226480,"precipitation":0},{"dt":1709226540,"precipitation":0},{"dt":1709226600,"precipitati[...]
[...]
